@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
}


nav {
    background-color: #00a86b; 
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #008853; 
    color: black;
}


h1 {
    text-align: center;
    /* margin-top: 50px; */
    color: #00a86b; 
}

p {
    text-align: justify;
    margin: 20px;
    color: #ccc; /* Adjusted text color */
    line-height: 1.6; /* Adjusted line height for better readability */
    letter-spacing: 0.5px; /* Added letter-spacing for better readability */
}
form {
    text-align: center;
    margin-top: 20px;
}

.content {
    text-align: center;
    /* margin-top: 50px;  */
    color: #fff; 
}

input[type="submit"] {
    background-color: #00a86b;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #008853; 
}



.smallImage {
    width: 55px;
    height: auto;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%; 
    border: 2px solid #fff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease-in-out;
}

.smallImage:hover {
    transform: scale(1.1);
}

.profile{
    bottom: 15px;
    position: fixed;
    height: auto;
    right: 90px;

}

.box{
    text-decoration: solid;
}